.container {
  position: relative;
}


.button-container {
  margin-top: 0.5%;
  position: absolute;
}

h3 {
  font-size: 30px;
}


textarea {
  border: 1px solid #ccc;
  padding: 0.5%;
  width: 100%;
  height: 60vh;
  resize: none;
  min-height : 50px;
  overflow-y: hidden;
}
