.container {
  position: relative;
}

.table-container {
  display: inline-block;
  margin-bottom: 20px;
}

.button-container {
  position: absolute;
  bottom: -30px; /* Passe den Abstand nach Bedarf an */
}

h3 {
  font-size: 30px;
}

.listbox {
  padding: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

ejs-listbox {
  overflow-y: auto; /* Enable vertical scrolling for the ListBox */
  border: none;
}

input {
  overflow-y: auto;
  border: none;
  padding: 0.5%;
  width: 100%;
  margin-top: 1%;
}
