.container {
  position: relative;
  height: 70vh;
}


.table-container {
  display: inline-block;
  margin-bottom: 20px;
}

.button-container {
  position: absolute;
  top: -50px;
  right: 20px;
}

h3{
  font-size: 30px;
}

