<ejs-grid [dataSource]='activitiesList' [allowPaging]="true" [pageSettings]='pageSettings' [allowSorting]="true" [allowFiltering]="true">
  <e-columns>
    <e-column field='id' headerText='Nr.' [width]="100" [textAlign]="'center'"></e-column>
    <e-column field='customer' headerText='Kunde'></e-column>
    <e-column field='serviceLocation' headerText='Leistungsort'></e-column>
    <e-column field='quality' headerText='Qualität'></e-column>
    <e-column [textAlign]="'center'">
        <ng-template #template let-data>
          <button ejs-button style="margin-right: 15px;">edit</button>
          <button ejs-button>remove</button>
        </ng-template>
    </e-column>
  </e-columns>
  </ejs-grid>
