<!--<h3 class="headings">Job Details - ID: {{ jobID }}</h3>-->

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title headings">Infos</h3>
          <div class="d-flex justify-content-end">
            <button ejs-button (click)="saveChanges()" [disabled]="!unsavedChanges">Bearbeitung abschließen</button>
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="card-title">Typ:</h6>
                    <p class="card-text">{{ getOrderType(selectedJobInfos?.orderType ?? 2) }} </p>
                    <h6 class="card-title">Kunde:</h6>
                    <p class="card-text">{{ selectedJobInfos?.customer }}</p>
                    <h6 class="card-title">Auftraggeber:</h6>
                    <p class="card-text">{{ selectedJobInfos?.client?.firstName}} {{ selectedJobInfos?.client?.lastName}}</p>
                    <h6 class="card-title">Projekt:</h6>
                    <p class="card-text">{{ selectedJobInfos?.project}}</p>
                    <h6 class="card-title">ERP-Nr.:</h6>
                    <p class="card-text" contenteditable="true" (focus)="toggleEditingMode(true)" (input)="onInput($event)">{{ selectedJobInfos?.easyJob}}</p>
                    <h6 class="card-title">Verrechnungsoption:</h6>
                    <p class="card-text">{{ getBillingOption(selectedJobInfos?.billingOption ?? 3)}}</p>
                    <h6 class="card-title">Beschreibung:</h6>
                    <p class="card-text" contenteditable="true" (focus)="toggleEditingMode(true)" (input)="onInput($event)">/</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="card-title">Bearbeiter:</h6>
                    <p class="card-text">{{ selectedJobInfos?.editor?.userName ? selectedJobInfos?.editor?.userName : "Kein Username vorhanden" }}</p>
                    <h6 class="card-title">Erstellt am:</h6>
                    <p class="card-text">{{selectedJobInfos?.editor?.createdAt | date: "dd.MM.yyyy hh:mm"}}</p>
                    <h6 class="card-title">Fällig bis:</h6>
                    <p class="card-text" contenteditable="true" (focus)="toggleEditingMode(true)" (input)="onInput($event)">{{selectedJobInfos?.deliveryDate | date: "dd.MM.yyyy" }}</p>
                    <h6 class="card-title">Status:</h6>
                    <p class="card-text"> {{statusService.getStatusString(selectedJobInfos?.status ?? 3) }} </p>
                    <br>
                    <br>
                    <div class="card-text text-center">
                      <button ejs-button [disabled]="editingMode">Zeitbuchungen: 6m</button><br> <br>
                      <button ejs-button [disabled]="editingMode">Retusche buchen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title headings">Job-Files</h5>

          <!-- TO-DO BACKEND -->

          <ejs-grid #grid [dataSource]="jobdetailsFilesList" [allowPaging]="true" [pageSettings]="pageSettings" [allowSorting]="true" [allowFiltering]="true" (detailDataBound)="detailFileDataBound($event)">
            <e-columns>
              <e-column field="id" headerText="ID" [visible]="false"></e-column>
              <!-- <e-column field="job.consecutiveNumber" headerText="Nr." width="100" [textAlign]=""center"" [allowFiltering]="false"></e-column> -->
              <e-column field="errorMessage" headerText="Fehler"> <!-- TO-DO nachfragen -->
                <ng-template #template let-data>
                  {{ data.errorMessage || "okay" }}
                </ng-template>
              </e-column>
              <e-column field="originalFilename" headerText="Originaler Dateiname"></e-column>
              <e-column field="editedFilename" headerText="Bearbeiteter Dateiname"></e-column>
              <e-column field="filePath.ebvFileaction" headerText="Ablagepfad">
                <ng-template #template let-data>
                  {{ data?.filePath?.ebvFileaction || "N/A" }}
                </ng-template>
              </e-column>
              <e-column field="storageType" headerText="Ablageort"></e-column>
              <e-column field="filePath.macPath" headerText="Ablagepfad">
                <ng-template #template let-data>
                  {{ data?.filePath?.macPath || "N/A" }}
                </ng-template>
              </e-column>
              <e-column field="activity" headerText="Aktivität">
                <ng-template #template let-data>
                  {{ data.activity || "N/A" }}
                </ng-template>
              </e-column>
              <e-column field="status" headerText="Status">
                <ng-template #template let-data>
                  {{ statusService.getStatusString(data.status) }}
                </ng-template>
              </e-column>
            </e-columns>
              <ng-template #detailTemplate let-data>
                <div class="additionalRowForFiles-grid"></div>
              </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title headings">History</h5>

          <!-- TO-DO BACKEND -->

          <ejs-grid [dataSource]="jobdetailsHistoryList" [allowPaging]="true" [pageSettings]="pageSettings" [allowSorting]="true" [allowFiltering]="true" (detailDataBound)="detailHistoryDataBound($event)">
            <e-columns>
              <e-column field="id" headerText="ID" [visible]="false"></e-column>
              <e-column field="createdAt" headerText="Datum und Uhrzeit" [format]="'dd.MM.yyyy hh:mm'"></e-column>
              <e-column field="action" headerText="Titel"></e-column>
              <e-column field="job.editor.userName" headerText="Bearbeiter" [width]="200"></e-column>
            </e-columns>
              <ng-template #detailTemplate let-data>
                <div class="additionalRowForHistory-grid"></div>
              </ng-template>
          </ejs-grid>

        </div>
      </div>
    </div>
  </div>
</div>

<br>
