<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <br>
      <div class="card">
        <div class="card-body">
          <h1 class="headings" style="font-size: 30px;">Job: {{selectedJobInfos?.consecutiveNumber}}   |   {{statusService.getStatusString(selectedJobInfos?.status ?? 3) }}</h1>
          <br>
          <br>
          <div class="d-flex justify-content-end">
            <button ejs-button (click)="saveChanges()" [disabled]="!unsavedChanges">Bearbeitung abschließen</button>
            <button ejs-button style="margin-left: 30px; width: 150px;" [disabled]="editingMode">abschicken</button>
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-body">
                    <table>
                      <tr>
                        <th><h6 class="card-title">Typ:</h6></th>
                        <td><p class="card-text">{{ getOrderType(selectedJobInfos?.orderType ?? 2) }}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Kunde:</h6></th>
                        <td><p class="card-text">{{ selectedJobInfos?.customer }}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Auftraggeber:</h6></th>
                        <td><p class="card-text">{{ selectedJobInfos?.client?.firstName}} {{ selectedJobInfos?.client?.lastName}}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Projekt:</h6></th>
                        <td><p class="card-text">{{ selectedJobInfos?.project }}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Easyjob-Nr.:</h6></th>
                        <td><p #easyJobNumber class="card-text" contenteditable="true" (focus)="toggleEditingMode(true)" (input)="onInput($event)">{{ selectedJobInfos?.easyJob }}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Verrechnungsoption:</h6></th>
                        <td><p class="card-text">{{ getBillingOption(selectedJobInfos?.billingOption ?? 3) }}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Beschreibung:</h6></th>
                        <td><p #jobInfo class="card-text" contenteditable="true" (focus)="toggleEditingMode(true)" (input)="onInput($event)"> {{selectedJobInfos?.jobInfo}} </p></td>
                      </tr>
                    </table>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-body">
                    <table>
                      <tr>
                        <th><h6 class="card-title">Bearbeiter:</h6></th>
                        <td><p class="card-text">{{ selectedJobInfos?.editor?.userName ? selectedJobInfos?.editor?.userName : "Kein Username vorhanden" }}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Erstellt am:</h6></th>
                        <td><p class="card-text">{{selectedJobInfos?.editor?.createdAt | date: "dd.MM.yyyy hh:mm"}}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Fällig bis:</h6></th>
                        <td><p #deliveryDate class="card-text card-text-with-padding" contenteditable="true" (blur)="toggleEditingMode(false)" (focus)="toggleEditingMode(true)" (input)="onInput($event)">{{selectedJobInfos?.deliveryDate | date: "dd.MM.yyyy" }}</p></td>
                      </tr>
                      <tr>
                        <th><h6 class="card-title">Status:</h6></th>
                        <td><p class="card-text">{{statusService.getStatusString(selectedJobInfos?.status ?? 3) }}</p></td>
                      </tr>
                    </table>

                    <br>
                    <br>
                    <div class="text-center">
                      <button ejs-button class="time-booking" [disabled]="editingMode">Zeitbuchungen</button>
                      <button ejs-button class="book-retouch" [disabled]="editingMode">Buchen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title headings">Job-Files</h5>

          <!-- Dropdown-Button im Button Ordner-->
          <!--<app-alpha-channel></app-alpha-channel> <button style="padding-left: 20px;" ejs-button>Aktivität ändern</button>-->

          <!-- TO-DO BACKEND: Pixeldichte, Auflösung | nur string im Backend für alles (Dateigröße, ...)-->

          <ejs-grid #grid [dataSource]="jobdetailsFilesList" [allowPaging]="true" [pageSettings]="pageSettings" [allowSorting]="true" [allowFiltering]="true" (detailDataBound)="detailFileDataBound($event)" [allowTextWrap]="true">
            <e-columns>
              <e-column field="id" headerText="ID" [visible]="false"></e-column>
              <e-column type="checkbox" [width]="70"></e-column>
              <e-column field="job.consecutiveNumber" headerText="Nr." width="100" [allowFiltering]="false">
                <ng-template #template let-data>
                  {{ consecutiveNumber }}
                </ng-template>
              </e-column>
              <!-- Sollte im Status angezeigt werden TO-DO Backend
              <e-column field="errorMessage" headerText="Fehler">
                <ng-template #template let-data>
                  {{ data.errorMessage || "okay" }}
                </ng-template>
              </e-column> -->
              <e-column field="originalFilename" hieaderText="Originaler Dateiname" [width]="170"></e-column>
              <e-column field="editedFilename" headerText="Bearbeiteter Dateiname"[width]="195"></e-column>
              <e-column field="filePath.action" headerText="Aktion">
                <ng-template #template let-data>
                  {{ data?.filePath?.ebvFileaction || "N/A" }}
                </ng-template>
              </e-column>
              <e-column field="storageType" headerText="Ablageort"></e-column>
              <e-column field="filePath.macPath" headerText="Ablagepfad">
                <ng-template #template let-data>
                  {{ data?.filePath?.macPath || "N/A" }}
                </ng-template>
              </e-column>
              <e-column field="activity" headerText="Aktivität">
                <ng-template #template let-data>
                  {{ data.activity || "N/A" }}
                </ng-template>
              </e-column>
              <e-column field="status" headerText="Status">
                <ng-template #template let-data>
                  {{ statusService.getStatusString(data.status) }}
                </ng-template>
              </e-column>
            </e-columns>
              <ng-template #detailTemplate let-data>
                <div class="additionalRowForFiles-grid"></div>
              </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title headings">History</h5>

          <ejs-grid [dataSource]="jobdetailsHistoryList" [allowPaging]="true" [pageSettings]="pageSettings" [allowSorting]="true" [allowFiltering]="true" (detailDataBound)="detailHistoryDataBound($event)">
            <e-columns>
              <e-column field="id" headerText="ID" [visible]="false"></e-column>
              <e-column field="createdAt" headerText="Datum und Uhrzeit" [format]="'dd.MM.yyyy hh:mm'"></e-column>
              <e-column field="action" headerText="Titel"></e-column>
              <e-column field="job.editor.userName" headerText="Bearbeiter" [width]="200"></e-column>
            </e-columns>
              <ng-template #detailTemplate let-data>
                <div class="additionalRowForHistory-grid"></div>
              </ng-template>
          </ejs-grid>

        </div>
      </div>
    </div>
  </div>
</div>

<br>
