button{
  width: 250px;
}

.time-booking{
  width: 190px;
}

.book-retouch{
  margin-left: 20px;
  width: 190px;
}

.card-text {
  padding-left: 40px; /* Passen Sie den Wert nach Bedarf an */
}

table {
  border-collapse: separate;
  border-spacing: 0 3px;
}

td {
  vertical-align: top; /* Einstellung der vertikalen Ausrichtung auf "top" */
}
