<h3>Aufgabe der Kollegen</h3>
<ejs-grid [dataSource]='colleaguesTasksList' [allowPaging]="true" [pageSettings]='pageSettings' [allowSorting]="true" [allowFiltering]="true" allowTextWrap="true">
  <e-columns>
    <e-column field='id' headerText='ID' [visible]="false"></e-column>
    <e-column field="consecutiveNumber" headerText="Job-Nummer" [width]="130">
      <ng-template #template let-data>
        <a class="link-cell" (click)="navigateToJobDetails($event)" onmouseenter="this.style.color='red'" onmouseleave="this.style.color=''">{{ data.consecutiveNumber }}</a>
      </ng-template>
    </e-column>
    <e-column field='title' headerText='Titel'>
      <ng-template #template let-data>
        <a class="link-cell" (click)="navigateToJobTitle($event)" onmouseenter="this.style.color='red'" onmouseleave="this.style.color=''">{{ data.title }}</a>
      </ng-template>
    </e-column>
    <e-column field='customer' headerText='Kunde' [width]="200"></e-column>
    <e-column field='deliveryDate' headerText='Fälligkeitsdatum' [width]="150" [format]="'dd.MM.yyyy'"></e-column>
    <e-column headerText='Bearbeiter' [width]="150">
      <ng-template #template let-data>
        {{ data.editor?.userName }}
      </ng-template>
    </e-column>
    <e-column field='numberOfFiles' headerText='Files' [width]="100"></e-column>
    <e-column field="status" headerText="Status" [width]="199">
      <ng-template #template let-data>
        {{ this.statusService.getStatusString(data.status) }}
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
