<h3>Aufgabe der Kollegen</h3>
<ejs-grid [dataSource]='colleaguesTasksList' [allowPaging]="true" [pageSettings]='pageSettings' [allowSorting]="true" [allowFiltering]="true">
  <e-columns>
    <e-column field='id' headerText='ID' [visible]="false"></e-column>
    <e-column field="consecutiveNumber" headerText="Job-Nummer">
      <ng-template #template let-data>
        <a (click)="navigateToJobDetails($event)">{{ data.consecutiveNumber }}</a>
      </ng-template>
    </e-column>
    <e-column field='customer' headerText='Kunde'></e-column>
    <e-column field='deliveryDate' headerText='Fälligkeitsdatum' [format]="'dd.MM.yyyy'"></e-column>
    <e-column headerText='Bearbeiter'>
      <ng-template #template let-data>
        {{ data.editor?.userName }}
      </ng-template>
    </e-column>
    <e-column field="status" headerText="Status">
      <ng-template #template let-data>
        {{ this.statusService.getStatusString(data.status) }}
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
